:root {
	--container-width: 1200px;

	/* Font Sizes */
	--fs-base-size: 1em;
	--text-scale-ratio: 1.2;

	--fs-sm: calc(1em / var(--text-scale-ratio));
	--fs-md: calc(1em * var(--text-scale-ratio));
	--fs-lg: calc(var(--fs-md) * var(--text-scale-ratio));
	--fs-xl: calc(var(--fs-lg) * var(--text-scale-ratio));
	--fs-xxl: calc(var(--fs-xl) * var(--text-scale-ratio));
	--fs-xxxl: calc(var(--fs-xxl) * var(--text-scale-ratio));

	/* Font Weights */
	--fw-normal: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* Spacing */
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 20px;
	--space-lg: 32px;
	--space-xl: 52px;
	--space-xxl: 84px;
}

*,
*::before,
*::after {
	margin: 0;
}

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-size: var(--fs-base-size);
	flex-grow: 1;
	font-family: 'Outfit', sans-serif;
	text-align: center;
}

header {
	padding-top: var(--space-lg);

	h1 {
		font-size: 60px;
	}
}

.board {
	width: fit-content;
	margin: 0 auto;
	margin-top: var(--space-lg);
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);

	&.active {
		background-color: black;
	}
	.cell {
		background-color: #fff;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--fs-xxxl);
		font-weight: var(--fw-bold);

		&:hover {
			background-color: #f2f2f2;
		}
	}
}

.modal {
	padding: var(--space-md);
	border-radius: var(--space-sm);
	background-color: #f0f0f0;
	width: max(200px, 30%);
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);

	&.active {
		transform: translate(-50%, -50%) scale(1);
	}

	form {
		display: flex;
		flex-direction: column;
		font-size: var(--fs-md);

		label {
			margin-top: var(--space-sm);
			align-self: flex-start;
		}

		input {
			text-transform: capitalize;
			height: var(--space-lg);
			border: 1px solid black;
			border-radius: var(--space-xs);
			padding-left: var(--space-xxs);
		}
	}

	button {
		padding: var(--space-xxs);
		margin-top: var(--space-lg);
		width: 50%;
		align-self: center;
		cursor: pointer;
	}
}

footer {
	margin-top: var(--space-lg);
	img {
		width: var(--space-md);
	}
}
